{% load staticfiles %}
<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <title>Thesauri</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/synonyms.css' %}"/>
	<script src="{% static 'js/jquery-2.2.1.min.js' %}" type="text/javascript" charset="utf-8" ></script>
	<script src="{% static 'js/angular.min.js' %}" type="text/javascript" charset="utf-8" ></script>
    <script src="{% static 'js/angular-route.min.js' %}" type="text/javascript" charset="utf-8" ></script>
    <script src="{% static 'js/angular-cookies.min.js' %}" type="text/javascript" charset="utf-8" ></script>
<script src="{% static 'mathjax/unpacked/MathJax.js' %}?config=TeX-MML-AM_CHTML"></script>

<script src="{% static 'bootstrap/js/bootstrap.min.js' %}" type="text/javascript" charset="utf-8" ></script>
	<script src="{% static 'js/app.js' %}" type="text/javascript" charset="utf-8" ></script>
    <script src="{% static 'js/jquery-textrange.js' %}"></script>
    <script src="{% static 'js/angular-resource.min.js' %}" type="text/javascript" charset="utf-8" ></script>
  <style>
  label {
    display: inline-block;
    width: 5em;
  }
  </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
     <div class="container">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="#">Thesauri</a>
       </div>
       <div id="navbar" class="collapse navbar-collapse">
         <ul class="nav navbar-nav">
           <!-- <li class="active"><a href="#/">Home</a></li>
           <li><a href="#second">Second</a></li> -->
         </ul>
       </div><!--/.nav-collapse -->
     </div>
   </nav>

   <div class="container">
       <div ng-controller="mainController">

               <div class="starter-template">
                   <div class="row">
                   <div class="form-group col-md-7" >
                       {% csrf_token %}
                       <label for="article">Article:</label>
                        <textarea class="form-control" name="article"  rows="5" id="article" ng-model="textarea4selection"  findword elastic></textarea>
                        <br>
                        <div id="rendertext">
                            <p ng-bind-html="changemarkdown | sanitize"></p>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <h5><b>[[[key]]]</b></h5>
                        <div ng-repeat="msg in message track by $index" >
                            <p ng-bind-html="msg | sanitize"></p>
                        </div>
                    </div>
               </div>
           </div>
          </div>
       </div>

   </div>



 <!-- <script>
 $(document).ready(function(){
     var findword = "";
   $('#article').select(function() {
       findword = $('textarea[id="article"]').textrange().text; });
       console.log(findword);
       console.log("bees");
 });
 </script> -->
</body>
</html>
